<!DOCTYPE html>
<html lang="en">
<head>

	<!-- meta tag -->
	<meta charset="UTF-8">
	<!-- /meta tag -->

	<!-- stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
	<link rel="shortcut icon" href="assets/favicon/favicon.png">
	<!-- /stylesheet -->

	<title>Data QODR</title>
</head>
<body>
		<nav class="navbar">
			<div class="container">
				<div id="navbar-brand">
					<a href=""><img src="assets/logo/logo-horizontal.png" alt="qodr"></a>
				</div>
			<div id="nav" id="navbar">
				<ul class="nav-menu">
					<li><a href="#">Website</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div id="nav-right">
				<input type="button" value="LOGIN">
			</div>
			</div>
		</nav><!-- navbar -->
		
		<!-- main-page -->
		<div class="container" id="main">
			<div id="title">
				<h1>Data QODR</h1>
				<p>Data Cabang QODR Yogyakarta Magelang Semarang</p>
			</div>
			<div class="table">
				<div id="nav-table">
					<nav id="table-nav">
						<ul>
							<li><a href="#">YOGYAKARTA</a></li>
							<li><a href="#">MAGELANG</a></li>
							<li><a href="#">SEMARANG</a></li>
						</ul>
					</nav>
				</div>

				<div id="table-data">

					<div class="row" id="head">
	        			<div class="no">NO</div>
	        			<div class="name">NAME</div>
	        			<div class="cabang">CABANG</div>
	    			</div>

					<div class="row">
	        			<div class="no">1</div>
	        			<div class="name">Name1</div>
	        			<div class="cabang">Cabang</div>
	    			</div>

				    <div class="row">
				        <div class="no">2</div>
				        <div class="name">Name2</div>
				        <div class="cabang">Cabang</div>
				    </div>
				    
				    <div class="row">
				        <div class="no">3</div>
				        <div class="name">Name3</div>
				        <div class="cabang">Cabang</div>
				    </div>
				    
				    <div class="row">
				        <div class="no">4</div>
				        <div class="name">Name4</div>
				        <div class="cabang">Cabang</div>
				    </div>
				    
				    <div class="row">
				        <div class="no">5</div>
				        <div class="name">Name5</div>
				        <div class="cabang">Cabang</div>
				    </div>

				</div>
			</div><!-- /main-page -->

			<footer>
				<img src="assets/logo/color.png" alt="logo1">
				<span>This Website maked with <i class="fa fa-heart"></i> in QODR HQ</span>
			</footer>
		</div>
	</body>
</html>